/* principal */
body{
    margin: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 34%, rgba(9,9,121,1) 66%, rgba(0,212,255,1) 100%);
    background-position: center;

} 

.principal{
    width: auto;
    height: 500px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,auto);
}

.container{
    height: 500px;
    grid-column: 1/9;
    grid-row: 1/9;
    

}
#background{
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.overlay{
    grid-column: 1/9;
    grid-row: 1/9;
    background-color: rgba(50, 53, 52, 0.568);
    border-radius: 20px;
}